body{
    background-color: lightgreen;
    font-size: 15px;
    font-family: arial,sans-serif;
}
h1 {
    color: blue;
    text-align: center;
  }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }
  .thing {
    background: tan;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px;
    padding: 12px;
  }
  .food{
    background:cornflowerblue;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px;
    padding: 12px;
  }
  .talk{
    background:rgb(238, 239, 241);
    border-radius: 10px;
    font-size: 18px;
    margin: 10px;
    padding: 12px;
  }